

h1, h2, p, div {
  color: #1F6A7D;
  font-family: 'Noto Sans TC', sans-serif;
}



body {
  background: rgb(255,255,255);
  background: linear-gradient(170deg, rgba(255,255,255,1) 0%, rgba(222,235,254,1) 49%, rgba(255,255,255,1) 100%);
}

.center-it {
  text-align: center;
}

.title {
  font-size: 100px;
}

.sub-title {
  font-size: 50px;
}

.finger {
  color: white;
}

.logo {
  width: 90px;
  margin-top: 30px;
  margin-left: 20px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}